@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Calibri';
  src: url('/assets/fonts/calibri-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url('/assets/fonts/calibri-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url('/assets/fonts/calibri-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url('/assets/fonts/calibri-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}